.dropzone {
  text-align: center;
  padding: 20px;
  border: 2px dashed #a6a8b5;
  color: #bdbdbd;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.file_loaded {
  border-color: #038CD2 !important;
}


.accept {
  border-color: #038CD2 !important;
}

.reject {
  border-color: #d83b01 !important;
}
